.container-confirm {
	width: fit-content;
	margin: auto;
	padding-top: 70px;
	padding-left: 100px;

	padding-bottom: 50px;
	padding-right: 50px;
}
.sucessconfirm {
	font-size: 22px;
	margin-bottom: 20px;
	margin-top: 20px;
	color: rgb(68, 155, 68);
}
.detailconfirm {
	font-size: 16px;
	color: rgb(63, 61, 61);
}
.check-mark {
	/* font-size: 48px; */
	margin-bottom: 40px !important;
	transform: scale(1.4);
	/* scale: ; */
}

.confirmhr {
	top: 58%;
	left: 450px;
	border: solid 1px rgb(210, 205, 205);
	width: 400px;
}

.confirmprice {
	font-size: 14px;
	margin-top: 35px;
	color: rgb(66, 66, 66);
}

.confirmtotal {
	font-size: 14px;
	margin-top: 10px;
	color: rgb(66, 66, 66);
}

.confirmdate {
	font-size: 14px;
	margin-top: 10px;
	color: rgb(66, 66, 66);
}
.content-confirm {
	background-color: rgb(243, 232, 232);
	padding: 40px;
	border-radius: 20px;
}
.gohome {
	margin-top: 20px;
	display: inline-block;
	padding: 12px;
	background-color: green;
	margin-left: 20px;
	color: rgb(248, 247, 247);
	font-size: 1.4rem;
	border-radius: 8px;
	transition: all 0.3s;
}
.gohome:hover {
	background-color: rgb(7, 119, 7);
}
.down {
	margin-left: 110px;
}
.bold {
	font-weight: 600;
}
.overallfeedback:focus {
	outline: 3px solid rgba(202, 87, 11, 0.637);
	box-shadow: 0 0 12px 4px rgb(180, 179, 179);
}
.bck {
	background-color: #585555c7;
}
