.fullsign {
	background-image: url("../../girlimg.jpg");
	background-size: cover;
	height: 100vh;
	padding-top: 6rem;
	background-attachment: fixed;
}
.fullsignnn {
	height: 100vh;
	width: 100vw;
	padding-top: 6rem;
}
.cancecont {
	position: fixed;
	top: 0;
	left: 0;
	background-color: #14131456;
}
.signupform {
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 2rem;
	column-gap: 5rem;
	padding: 40px;
	border-radius: 12px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border: solid #ccc 0px;
	row-gap: 8px;
	/* background-color: white; */
}

.signupform input {
	width: 100%;
	padding: 1.2rem;
	font-size: 1.8rem;
	border: none;
	background-color: #f3eeee;
	border-radius: 9px;
}

.signupform input::placeholder {
	font-size: 16px;
	color: #aa9c9c;
}

label {
	display: block;
	margin-bottom: 1.2rem;
	font-size: 1.6rem;
}

.signupform-a {
	font-size: 2rem;
	border: solid black 1px;
	width: 50%;
	text-align: center;
	padding: 0.8rem;
	border-radius: 12px;
	color: rgb(0, 0, 0);
	margin-top: 2rem;
	border: none;
	display: block;
	background-color: pink;
}

.signupform input:focus {
	outline: solid 5px rgba(238, 128, 49, 0.582);
}

.signup {
	background-color: rgb(255, 255, 255);
	width: 800px;
	margin-left: 400px;
}
.userExist {
	font-size: 2.4rem;
	margin: auto;
	width: fit-content;
	color: red;
}
.login-link {
	color: rgb(77, 67, 67);
}
.nnnn {
	position: absolute;
	right: 10px;
	bottom: 8px;
	font-size: 16px;
	border-radius: 50%;
	padding: 5px 6px;
	border: none;
	background-color: white;
	transition: all 0.4s;
}
.nnnn:hover {
	background-color: #f7c2a9;
}
.nnnnn {
	position: absolute;
	right: 40px;
	top: 175px;
	font-size: 16px;
	border-radius: 50%;
	padding: 5px 6px;
	border: none;
	background-color: white;
	transition: all 0.4s;
}
.nnnnn:hover {
	background-color: #f7c2a9;
}

.nnnnnn {
	position: absolute;
	right: 40px;
	top: 70px;
	font-size: 16px;
	border-radius: 50%;
	padding: 5px 6px;
	border: none;
	background-color: white;
	transition: all 0.4s;
}
.nnnnnn:hover {
	background-color: #f7c2a9;
}
.sss {
	visibility: hidden;
}
.new {
	position: absolute;
	right: 10px;
	bottom: 18px;
}
